{% extends 'base.html.twig' %}

{% block title %}Mano profilis{% endblock %}


{% block javascript %}

<script type="text/javascript">
    $( document ).ready(function() {

    jQuery("#country").change(function () {
        const countryId = this.value

        if (countryId === '') {
            return;
        }

        $.get("/countries/" + countryId + "/cities", function( data ) {
            var $el = jQuery("#city");
            $el.empty();
            $.each(data, function(key,value) {
                $el.append($("<option></option>")
                    .attr("value", key).text(value));
            });
        });

        $.get("/countries/" + countryId + "/states", function( data ) {
            var $el = jQuery("#state");
            $el.empty();
            $.each(data, function(key,value) {
                $el.append($("<option></option>")
                    .attr("value", key).text(value));
            });
        });
    });
});
</script>

{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">

        <h1>Profilio redagavimas</h1>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if login_successful is defined %}
                        <div class="alert alert-success">
                            Duomenys atnaujinti sėkmingai
                        </div>
                    {% endif %}

                    {% if login_errors is defined %}
                        <div class="alert alert-danger">
                            {% for message in login_errors %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="needs-validation" novalidate method="POST">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="firstName" class="form-label">El.paštas</label>
                                <input type="text" class="form-control" placeholder="" value="{{ app.user.email }}" required name="email">
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label">Slaptažodis</label>
                                <input type="password" class="form-control" placeholder="" value="" required name="password">
                            </div>

                            <div class="col-md-12">
                                <label for="country" class="form-label">Šalis</label>
                                <select class="form-select" name="country" required id="country">
                                    <option value="" disabled>Pasirinkite...</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if user_country == country.id %}selected{% endif %}>{{ country.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Valstija</label>
                                <select class="form-select" name="state" required id="state">
                                    <option value="" disabled>Pasirinkite...</option>
                                    {% for state in user_country_states %}
                                        <option value="{{ state.id }}" {% if user_state == state.id %}selected{% endif %}>{{ state.name }}</option>
                                    {% endfor  %}
                                </select>
                                <div class="invalid-feedback" style="display: block; color: grey">
                                    <i>Pasirinktinai</i>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Miestas</label>
                                <select class="form-select" name="city" id="city">
                                    {% for city in user_country_cities %}
                                        <option value="{{ city.id }}" {% if user_city == city.id %}selected{% endif %}>{{ city.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Redaguoti</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
