{% extends 'base.html.twig' %}

{% block title %}Vartotojo profilis{% endblock %}

{% block stylesheets %}
    <style>
        .list-group-item {
            border-top-left-radius: unset !important;
            border-top-right-radius: unset !important;
            border-left: none;
            border-right: none;
        }
        .breadcrumb-h1 {
            margin-bottom: 0 !important;
        }
        .breadcrumb {
            margin: 0 !important;
        }
        .breadcrumb-hr {
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-2">
        <h1>Profilio peržiūra</h1>
        <hr>

        <main>
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card border mb-12 mb-3">
                            <div class="card-header">Duomenys</div>
                            <div class="card-body">
                                <div class="pb-2">
                                    <b><i class="bi bi-envelope"></i> El.paštas:</b> {{ user.email }}
                                </div>
                                <div class="pb-2">
                                    <b><i class="bi bi-calendar-event"></i> Užsiregistravo:</b> {{ user.createdAt.format('Y-m-d') }}
                                </div>
                                {% if user.userType.value == 'buyer' %}
                                    <div class="pb-2">
                                        <b><i class="bi bi-window-dock"></i> Įkėlė skelbimų:</b> {{ get_count_of_created_jobs(user.id) }}
                                    </div>
                                {% elseif user.userType.value == 'specialist' %}
                                    <div class="pb-2">
                                        <b><i class="bi bi-person"></i> Vardas pavardė:</b> {{ user.name }}
                                    </div>
                                    <div class="pb-2">
                                        <b><i class="bi bi-bank"></i> Banko sąskaita:</b> {{ user.bankAccount }}
                                    </div>
                                    <div class="pb-2">
                                        <b><i class="bi bi-window-dock"></i> Atliko darbų:</b> {{ get_count_of_executed_jobs(user.id) }}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-lg-9">
                        <div class="card">
                            <div class="row no-gutters">
                                <div class="col-md-2 border-right">
                                    {% set class = 'nul' %}

                                    <div class="ratings text-center p-4 py-5"> Viso: <span class="badge bg-{{ total_class }}">{{ total_rating }} <i class="fa fa-star-o"></i></span> <span class="d-block total-ratings">{{ reviews | length }} vertinimai</span> </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="rating-progress-bars p-3">
                                        <div class="progress-1 align-items-center">
                                            <div class="d-flex align-items-baseline">
                                                <div class="me-1"> 5/5 </div>
                                                <div class="progress mb-1 w-100">
                                                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: {{ total_5_percent }}%;" aria-valuenow="{{ total_5_percent }}" aria-valuemin="0" aria-valuemax="100">{{ total_5 }} įvert. </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <div class="me-1"> 4/5 </div>
                                                <div class="progress mb-1 mb-1 w-100">
                                                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{ total_4_percent }}%;" aria-valuenow="{{ total_5_percent }}" aria-valuemin="0" aria-valuemax="100">{{ total_4 }} įvert. </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <div class="me-1"> 3/5 </div>
                                                <div class="progress mb-1 w-100">
                                                    <div class="progress-bar progress-bar-striped bg-dark" role="progressbar" style="width: {{ total_3_percent }}%;" aria-valuenow="{{ total_3_percent }}" aria-valuemin="0" aria-valuemax="100">{{ total_3 }} įvert. </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <div class="me-1"> 2/5 </div>
                                                <div class="progress mb-1 w-100">
                                                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: {{ total_2_percent }}%;" aria-valuenow="{{ total_2_percent }}" aria-valuemin="0" aria-valuemax="100">{{ total_2 }} įvert. </div>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-baseline">
                                                <div class="me-1"> 1/5 </div>
                                                <div class="progress mb-1 w-100">
                                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: {{ total_1_percent  }}%;" aria-valuenow="{{ total_1_percent  }}" aria-valuemin="0" aria-valuemax="100">{{ total_1 }} įvert. </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="list-group">
                                        {% for review in reviews %}
                                        <div class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h5 class="mb-1">{{ review.review }}</h5>
                                                <small>{{ time_elapsed_string(review.createdAt.format('Y-m-d')) }}</small>
                                            </div>
                                            <p class="mb-1"><a class="text-decoration-none" href="{{ url('profile_by_id', {id: review.reviewer.id}) }}"> {{ review.reviewer.email }}</a></p>
                                            <small>{{ review.rating }}/5</small>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
