{% extends 'base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block javascript %}
<script src="{{ asset('js/address_selection.js') }}" type="text/javascript"></script>
<script src="{{ asset('js/specialist-specific-inputs.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Registracija</h1>
        <hr>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if registration_successful is defined %}
                        <div class="alert alert-info">
                            Registracija sėkminga
                        </div>
                    {% endif %}

                    {% if registration_errors is defined %}
                        <div class="alert alert-danger">
                            {% for message in registration_errors %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="needs-validation" method="POST">
                        <div class="row g-2">
                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> El.paštas</label>
                                <input id="firstName" type="text" class="form-control" placeholder="" value="" required name="email">
                            </div>

                            <div class="col-sm-12">
                                <label for="password" class="form-label"><span class="text-danger">*</span> Slaptažodis</label>
                                <input id="password" type="password" class="form-control" placeholder="" value="" required name="password">
                            </div>

                            <div class="col-md-12">
                                <label for="user_type" class="form-label"><span class="text-danger">*</span> Vartotojo tipas</label>
                                <select id="user_type" class="form-select" name="type" required>
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    <option value="buyer">Automobilio pirkėjas</option>
                                    <option value="specialist">Automobilių apžiūros specialistas</option>
                                </select>
                            </div>

                            <div class="col-sm-12 d-none" id="name_col">
                                <label for="name" class="form-label"><span class="text-danger">*</span> Vardas pavardė</label>
                                <input id="name" type="text" class="form-control" placeholder="" value="" required name="name">
                            </div>

                            <div class="col-sm-12 d-none" id="account_col">
                                <label for="account" class="form-label"><span class="text-danger">*</span> Banko sąskaita</label>
                                <input id="account" type="text" class="form-control" placeholder="" value="" required name="account">
                            </div>

                            <div class="col-md-12">
                                <label for="country" class="form-label"><span class="text-danger">*</span> Šalis</label>
                                <select class="form-select" name="country_id" required id="country">
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Valstija</label>
                                <select class="form-select" name="state_id" id="state">
                                    <option selected >Pasirinkite...</option>
                                </select>
                                <div class="invalid-feedback" style="display: block; color: grey">
                                    <i>Pasirinktinai</i>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="city" class="form-label">Miestas</label>
                                <select class="form-select" name="city_id" id="city">
                                    <option selected>Pasirinkite...</option>
                                </select>
                            </div>

                        </div>
                        <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">Registruotis</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
