{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <style>
        .btn-super-sm, .btn-group-sm > .btn {
            padding: 0.25rem 0.5rem;
            font-size: 0.75rem;
            border-radius: 0.2rem;
        }
    </style>

{% endblock %}

{% block javascript %}

        <script type="text/javascript">
            $("#pop").on("click", function() {
                $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
                $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
            });
        </script>

{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Apžiūros duomenys</h1>
        <hr>

        <main>
            <div class="container">
                {% if app.session.flashbag.peek('success_job_photo_edit') is not empty %}
                    <div class="alert alert-success">
                        {% for message in app.flashes('success_job_photo_edit') %}
                            <div class="mb-1">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                <form class="needs-validation" method="POST" action="{{ url('edit_job_photos_handle', {id: job.id}) }}" enctype="multipart/form-data">
                    <input type="hidden" name="job_id" value="{{ job.id }}">
                    <div class="row">
                        <div class="col-m-12">
                            <div class="row">
                                <div class="col-md-3">
                                    {% embed 'common/job-card.html.twig' %}
                                        {% block additional_job_card_bottom %}
                                            {% if job.status.value == 'waiting_for_review' %}
                                                <hr>
                                                <a class="w-100 btn btn-success btn-sm" type="submit" href="{{ url('confirm_job_photos', {id: job.id}) }}">Patvirtinti duomenis</a>
                                                <a class="w-100 btn btn-danger btn-sm mt-2" type="submit" href="">Atmesti duomenis</a>
                                            {% endif %}
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                                <div class="col-md-9">
                                    <div class="row">
                                        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                                            {% for key, job_photo in job_photos %}
                                                <div class="col-md-12">
                                                    <div class="bg-white rounded shadow-sm"><img src="{{ asset('upload/' ~ job_photo.photo) }}" alt="" class="img-fluid card-img-top" data-bs-toggle="modal" data-bs-target="#image-{{ job.id }}">
                                                        <div class="p-4">
                                                            <p class="text-muted mb-0">{{ job_photo.comment }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Modal -->
                                                <div class="modal fade " id="image-{{ job.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-xl">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Nuotraukos peržiūra</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <img src="{{ asset('upload/' ~ job_photo.photo) }}" alt="" class="img-fluid card-img-top">
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Uždaryti</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </main>
    </div>
{% endblock %}
