{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block javascript %}
<script src="{{ asset('js/address_selection.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Skelbimo talpinimas</h1>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if app.session.flashbag.peek('add_job_danger') is not empty %}
                        <div class="alert alert-danger">
                            {% for messages in app.flashes('add_job_danger') %}
                                {% for message in messages %}
                                    <div class="mb-1">{{ message }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="needs-validation" method="POST" action="{{ url('add_job_handle') }}">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> Pavadinimas</label>
                                <input type="text" class="form-control" placeholder="" value="" required name="title">
                            </div>

                            <div class="col-sm-12">
                                <label for="exampleTextarea" class="form-label"><span class="text-danger">*</span> Aprašymas</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" required name="text"></textarea>
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> Atlikti iki</label>
                                <input type="date" class="form-control" placeholder="" value="" required name="due_to">
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> Kaina (EUR)</label>
                                <input type="number" class="form-control" placeholder="" value="" required name="price">
                            </div>

                            <div class="col-md-12">
                                <label for="country" class="form-label"><span class="text-danger">*</span> Šalis</label>
                                <select class="form-select" name="country_id" required id="country">
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}">{{ country.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Valstija</label>
                                <select class="form-select" name="state_id" id="state">
                                    <option selected >Pasirinkite...</option>
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Miestas</label>
                                <select class="form-select" name="city_id" id="city">
                                    <option selected>Pasirinkite...</option>
                                </select>
                            </div>
                        </div>
                        <hr class="my-4">
                        <button class="w-100 btn btn-primary btn-lg" type="submit">Įdėti skelbimą</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
