{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Mano skelbimai</h1>
        <hr>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if app.session.flashbag.peek('author_job_list_success') is not empty %}
                        <div class="alert alert-info">
                            {% for message in app.flashes('author_job_list_success') %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Pavadinimas</th>
                                <th scope="col">Atlikti iki</th>
                                <th scope="col">Sukurtas</th>
                                <th scope="col">Kaina</th>
                                <th scope="col">Statusas</th>
                                <th scope="col">Veiskmai</th>
                            </tr>
                        </thead>
                        <tbody>

                        {% for job in jobs %}
                        <tr {% if job.status.value in ['waiting_for_review', 'waiting_for_payment'] %}class="table-warning-ligth"{% endif %}>
                            <th>{{ job.id }}</th>
                            <td>{{ job.title }}</td>
                            <td>{{ job.dueTo.format('Y-m-d') }}</td>
                            <td>{{ job.createdAt.format('Y-m-d') }}</td>
                            <td>{{ job.amount }} {{ job.currency }}</td>
                            <td>{{ job.getLithuanianStatusNaming }}</td>
                            <td>
                                <a class="badge bg-primary no-text-decoration" href="{{ url('author_view_job', {id: job.id}) }}">Peržiūrėti</a>
                            </td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
