{% extends 'base.html.twig' %}

{% block title %}Skelbimo redagavimas{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{ asset('js/address_selection.js') }}"></script>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Skelbimo redagavimas</h1>
        <hr>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if app.session.flashbag.peek('job_update_successful') is not empty %}
                        <div class="alert alert-info">
                            {% for message in app.flashes('job_update_successful') %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if app.session.flashbag.peek('job_update_errors') is not empty %}
                        <div class="alert alert-danger">
                            {% for messages in app.flashes('job_update_errors') %}
                                {% for error in messages %}
                                    <div class="mb-1">{{ error }}</div>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}

                    <form class="needs-validation" novalidate method="POST" action="{{ url('edit_job_handle', {id: job.id}) }}">
                        <div class="row g-3">
                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> Pavadinimas</label>
                                <input type="text" class="form-control" placeholder="" value="{{ job.title }}" required name="title">
                            </div>

                            <div class="col-sm-12">
                                <label for="exampleTextarea" class="form-label"><span class="text-danger">*</span> Aprašymas</label>
                                <textarea class="form-control" id="exampleTextarea" rows="3" required name="text">{{ job.text }}</textarea>
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span> Atlikti iki</label>
                                <input type="date" class="form-control" placeholder="" value="{{ job.dueTo.format('Y-m-d') }}" required name="due_to">
                            </div>

                            <div class="col-sm-12">
                                <label for="firstName" class="form-label"><span class="text-danger">*</span>  Kaina (EUR)</label>
                                <input type="number" class="form-control" placeholder="" value="{{ job.amount }}" required name="price">
                            </div>

                            <div class="col-md-12">
                                <label for="country" class="form-label"><span class="text-danger">*</span>  Šalis</label>
                                <select class="form-select" name="country_id" required id="country">
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    {% for country in countries %}
                                        <option value="{{ country.id }}" {% if job_address.countryId == country.id %}selected{% endif %}>{{ country.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Valstija</label>
                                <select class="form-select" name="state_id" id="state">
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    {% for state in job_country_states %}
                                        <option value="{{ state.id }}" {% if job_address.stateId == state.id %}selected{% endif %}>{{ state.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>

                            <div class="col-md-12">
                                <label for="state" class="form-label">Miestas</label>
                                <select class="form-select" name="city_id" id="city">
                                    <option value="" selected disabled>Pasirinkite...</option>
                                    {% for city in job_country_cities %}
                                        <option value="{{ city.id }}" {% if job_address.cityId == city.id %}selected{% endif %}>{{ city.name }}</option>
                                    {% endfor  %}
                                </select>
                            </div>
                        </div>
                        <button class="w-100 btn btn-primary btn-lg mt-3" type="submit">Atnaujinti skelbimą</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
