{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Mano užsakymai</h1>
        <hr>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if app.session.flashbag.peek('success_specialist_job_list') is not empty %}
                        <div class="alert alert-info">
                            {% for message in app.flashes('success_specialist_job_list') %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Pavadinimas</th>
                            <th scope="col">Atlikti iki</th>
                            <th scope="col">Sukurtas</th>
                            <th scope="col">Kaina</th>
                            <th scope="col">Statusas</th>
                            <th scope="col">Veiskmai</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for job in jobs %}
                            <tr {% if job.status.value in ['active'] %}class="table-warning-ligth"{% endif %}>
                                <td>{{ job.id }}</td>
                                <td><a class="no-text-decoration" href="{{ url('view_job', {id: job.id}) }}">{{ job.title }}</a></td>
                                <td>{{ job.dueTo.format('Y-m-d') }}</td>
                                <td>{{ job.createdAt.format('Y-m-d') }}</td>
                                <td>{{ job.amount }} {{ job.currency }}</td>
                                <td>{{ job.getLithuanianStatusNaming }}</td>
                                <td>
                                    {% if job.jobPhotos.count == 0  and job.status.value in ['active', 'waiting_for_review'] %}
                                        <a class="badge bg-info no-text-decoration" href="{{ url('add_job_photos_view', {id: job.id}) }}">Įkelti duomenis</a>
                                    {% else %}
                                        {% if job.status.value == 'active' or job.status.value == 'waiting_for_review' %}
                                            <a class="badge bg-info no-text-decoration" href="{{ url('edit_job_photos_view', {id: job.id}) }}">Redaguoti duomenis</a>
                                        {% endif %}
                                        {% if job.status.value == 'active' %}
                                            <a class="badge bg-success no-text-decoration" href="{{ url('submit_job_for_review', {id: job.id}) }}">Pateikti peržiūrai</a>
                                        {% endif %}
                                        {% if job.status.value == 'done' %}
                                            <a class="badge bg-success no-text-decoration" href="{{ url('view_job_photos', {id: job.id}) }}">Peržiūrėti duomenis</a>

                                            {% set review = get_user_review_by_user_id_and_job_id(app.user.id, job.id) %}
                                            {% if review == null %}
                                                <a class="badge bg-info no-text-decoration" href="{{ url('specialist_leaves_review_view', {id: job.id}) }}">Palikti atsliepimą</a>
                                            {% else %}
                                                <a class="badge bg-info no-text-decoration" href="{{ url('edit_user_review_view', {id: review.id}) }}">Redaguoti atsiliepimą</a>
                                            {% endif %}
                                        {% endif %}
                                        {% if job.status.value == 'closed' %}
                                           -
                                        {% endif %}
                                    {% endif %}
                                    {%  if job.status.value in ['active', 'waiting_for_review', 'waiting_for_payment'] %}
                                        <a class="badge bg-danger no-text-decoration" href="{{ url('specialist_close_job', {id: job.id}) }}">Atsisakyti</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
