{% extends 'base.html.twig' %}

{% block title %}Pagrindinis{% endblock %}

{% block stylesheets %}
    <style>
        .bg-primary h4 {
            color: white;
        }
        a.bg-primary {
            color: white;
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}

    <div class="container py-3">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">AutoPing.lt - automobilių apžiūros prieš pirkimą</h1>
                <p class="col-md-8 fs-4">Šios platformos tikslas padėti klientams užsakyti, o automobilio specialistas atlikti, automobilio apžiūras</p>
                {% if app.user == null %}
                <a class="btn btn-primary btn-lg" href="{{ url('register') }}">Užsiregistruokite</a>
                {% elseif app.user.userType.value == 'buyer' %}
                <a class="btn btn-primary btn-lg" href="{{ url('add_job_view') }}">Įkelti skelbimą</a>
                {% else %}
                    <a class="btn btn-primary btn-lg" href="{{ url('add_job_view') }}">Rasti darbą!</a>
                {% endif %}
            </div>
        </div>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                {% for job in jobs %}
                    <div class="col">
                        <div class="card mb-4 rounded-3 shadow-sm">
                            <div class="card-header {% if job.amount == max_amount %}bg-primary{% else %}{% endif %} py-3">
                                <h4 class="my-0 fw-normal">{{ job.title }}</h4>
                            </div>
                            <div class="card-body">
                                <h1 class="card-title pricing-card-title">{{ job.amount }} <small class="text-muted fw-light">{{ job.currency }}</small></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>{{ job.text|length > 250 ? job.text|slice(0, 250) ~ '...' : job.text  }}</li>
                                </ul>
                                <a href="{{ url('view_job', {id: job.id}) }}" type="button" class="w-100 btn btn-lg {% if job.amount == max_amount %}bg-primary{% else %}btn-outline-primary{% endif %}">Peržiūrėti</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </main>
    </div>

{% endblock %}
