<div class="card border mb-12 mb-3">
    <div class="card-header">Skelbimas</div>
    <div class="card-body">
        <div class="pb-2">
            <b><i class="bi bi-info-lg"></i> ID:</b> {{ job.id }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-person"></i> Autorius:</b> <a href="{{ url('profile_by_id', {id: job.user.id}) }}" class="text-decoration-none">{{ job.user.email }}</a>
        </div>
        <div class="pb-2">
            <b><i class="bi bi-card-text"></i> Pavadinimas:</b> {{ job.title }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-clock-fill"></i> Sukurtas:</b> {{ job.createdAt.format('Y-m-d') }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-alarm"></i> Atnaujintas:</b> {{ job.updatedAt.format('Y-m-d') }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-calendar-day"></i> Atlikti iki:</b> {{ job.dueTo.format('Y-m-d') }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-currency-dollar"></i> Užmokestis:</b> {{ job.amount }} {{ job.currency }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-flag"></i> Šalis:</b> {{ job.address.country.name }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-hospital"></i> Valstija:</b> {{ job.address.state.name | default('-') }}
        </div>
        <div class="pb-2">
            <b><i class="bi bi-house-door"></i> Miestas:</b> {{ job.address.city.name | default('-') }}
        </div>
        {% block additional_job_card_bottom %}{% endblock %}
    </div>
</div>