<div class="bg-primary">
    <div class="container-lg">
        <div class="col-md-12 ">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{{ url('index') }}">AutoPing</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'job_list' %}active{% endif %}" href="{{ url('job_list') }}">Bendras skelbimų sąrašas
{#
                                    <span class="visually-hidden">(current)</span>
#}
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'author_job_list' %}active{% endif %}" href="{{ url('author_job_list') }}">Mano skelbimai</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'create_job' %}active{% endif %}" href="{{ url('create_job') }}">Įdėti skelbimą</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'specialist_job_list' %}active{% endif %}" href="{{ url('specialist_job_list') }}">Mano darbai</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if app.request.get('_route') == 'specialist_offers' %}active{% endif %}" href="{{ url('specialist_offers') }}">Pasiūlymų užsakymai</a>
                            </li>

{#                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>#}
                        </ul>
                        <ul class="navbar-nav d-flex">
                            {% if app.user == null %}
                                <li class="nav-item">
                                    <a class="nav-link" href="/register">Registracija</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/login">Prisijungimas</a>
                                </li>
                            {% else %}
                                <li class="nav-item dropdown ">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Pasirinkimai</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Profilio keitimas</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Atsijungti</a>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>
