{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block css %}
    <style>
        .no-text-decoration{
            text-decoration: none;
        }
        .no-text-decoration:hover {
            color: rgba(255, 255, 255, 0.42);
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Siųsti pasiūlymą</h1>

        <main>
            <div class="card border-primary mb-9 mb-3">
                <div class="card-header">{{ job.title }}</div>
                <div class="card-body">
                    <h4 class="card-title">{{ job.text }}</h4>
                    <p class="card-text">
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    <b><i class="bi bi-clock-history"></i> Sukurtas:</b> {{ job.createdAt.format('Y-m-d') }}
                                </div>
                                <div class="col-md-4">
                                    <b><i class="bi bi-calendar-day"></i> Atlikti iki:</b> {{ job.dueTo.format('Y-m-d') }}
                                </div>
                                <div class="col-md-4">
                                    <b><i class="bi bi-currency-dollar"></i> Užmokestis:</b> {{ job.amount }} {{ job.currency }}
                                </div>
                            </div>
                            <div class="row pt-2">
                                <div class="col-md-4">
                                    <b><i class="bi bi-flag"></i> Šalis:</b> {{ job.address.country.name }}
                                </div>
                                <div class="col-md-4">
                                    <b><i class="bi bi-hospital"></i> Valstija:</b> {{ job.address.state.name | default('-') }}
                                </div>
                                <div class="col-md-4">
                                    <b><i class="bi bi-house-door"></i> Miestas:</b> {{ job.address.city.name | default('-') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12  d-flex justify-content-center">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ url('accept_job', {id: job.id}) }}" type="button" class="btn btn-success">Sutikti su darbu</a>
                                    <a  href="{{ url('send_offer', {id: job.id}) }}" type="button" class="btn btn-info">Siųsti pasiūlymą</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </p>
                </div>
            </div>

            <form class="needs-validation" novalidate method="POST">
                <div class="row g-3">
                    <div class="col-sm-12">
                        <label for="exampleTextarea" class="form-label">Žinutė klientui</label>
                        <textarea class="form-control" id="exampleTextarea" rows="3" required name="text"></textarea>
                    </div>

                    <div class="col-sm-12">
                        <label for="firstName" class="form-label">Kaina</label>
                        <input type="number" class="form-control" placeholder="" value="" required name="price">
                    </div>

                <hr class="my-4">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Siųsti pasiūlymą</button>
            </form>
        </main>
    </div>
{% endblock %}
