{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block css %}
    <style>
        .no-text-decoration:hover {
            color: #187e6a
        }
    </style>
{% endblock %}

{% block body %}

    {% include 'common/navbar.html.twig' %}
    <div class="container py-3">
        <h1>Užsakymų pasiūlymai</h1>
        <hr>

        <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 ">
                <div class="col-md-12 col-lg-12">
                    {% if app.session.flashbag.peek('specialist_offer_success') is not empty %}
                        <div class="alert alert-info">
                            {% for message in app.flashes('specialist_offer_success') %}
                                <div class="mb-1">{{ message }}</div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Darbas</th>
                            <th scope="col">Mano žinutė</th>
                            <th scope="col">Sukurtas</th>
                            <th scope="col">Kaina</th>
                            <th scope="col">Statusas</th>
                            <th scope="col">Veiskmai</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for offer in offers %}
                            <tr>
                                <th>{{ offer.id }}</th>
                                <th><a class="no-text-decoration" href="{{ url('view_job', {id: offer.job.id}) }}">{{ offer.job.title }}</a></th>
                                <th>
                                    {% if offer.text != '' %}
                                        {{ offer.text }}
                                    {% else %}
                                        -
                                    {%  endif %}
                                </th>
                                <td>{{ offer.createdAt.format('Y-m-d') }}</td>
                                <td>{{ offer.amount }} {{ offer.currency }}</td>
                                <td>{{ offer.getLithuanianStatusNamingForOffer }}</td>
                                <td>
                                    {% if offer.status.value == 'new' %}
                                    <a class="badge bg-danger no-text-decoration" href="{{ url('specialist_delete_offer', {id: offer.id}) }}">Pašalinti pasiūlymą</a>
                                    {% else %}
                                    -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
